[submodule "ClassManager-Backend"]
	path = ClassManager-Backend
	url = https://github.com/Rincon23/ClassManager-Backend.git
[submodule "ClassManager-Frontend"]
	path = ClassManager-Frontend
	url = https://github.com/Rincon23/ClassManager-Frontend.git